h3 {
    background-color: black;
    color: #ffc0cb;
    padding: 10px 40px;
}

.car_card {
    border: 1px solid #ffc0cb;
    border-radius: 10px;
    padding: 10px 40px;
}

/* .my_conditional {
    color: gold;
    font-weight: 700;
} */