body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.tittle_main {
  background-color: #ffc0cb;
  text-align: center; 
  padding: 20px;
  margin-top: 0; 
}
.car_container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}